extends layout

block head

block content
  h1=title
  p=message

block script
  script(type="text/javascript", src="https://d3js.org/d3.v4.min.js")
  script(type="text/javascript").
    console.log("You should be able to see graphs on this page!");