extends layout

block head

block content
  h1=title
  p=message
  div(class="chart-container" width="400" height="400")
    canvas(class="chart" width="400" height="400")

block script
  script(type="text/javascript", src="https://cdn.jsdelivr.net/bluebird/3.5.0/bluebird.js")
  script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.js")
  script(type="text/javascript", src="https://d3js.org/d3.v4.min.js")
  script(type="text/javascript").
    console.log("You should be able to see graphs on this page!");
    var ctx = document.querySelector(".chart");
    var data = {
    datasets: [
      {
        label: "First Dataset",
        data: [
          {
              x: 20,
              y: 30,
              r: 15
          },
          {
              x: 40,
              y: 10,
              r: 10
          }
        ],
        backgroundColor:"#FF6384",
        hoverBackgroundColor: "#FF6384",
      }]
    };
    var bubbleChart = new Chart(ctx, {
      type: "bubble",
      data: data,
      options: {
        elements: {
          points: {
            borderWidth: 1,
            borderColor: "rgb(0, 0, 0)"
          }
        }
      }
    });