extends layout

block head

block content
  h1=title
  p=message
  div(id="myDiv")
  div(id="hoverinfo", style="margin-left:80px;")

block script
  script(type="text/javascript", src="https://cdn.jsdelivr.net/bluebird/3.5.0/bluebird.js")
  script(type="text/javascript", src="https://cdn.plot.ly/plotly-latest.min.js")
  script(type="text/javascript").
    console.log("You should be able to see graphs on this page!");

    var myPlot = document.getElementById('myDiv'),
    hoverInfo = document.getElementById('hoverinfo'),
    d3 = Plotly.d3,
    N = 16,
    x = d3.range(N),
    y1 = d3.range(N).map( d3.random.normal() ),
    y2 = d3.range(N).map( d3.random.normal() ),
    data = [ { x:x, y:y1, type:'scatter', name:'Trial 1',
        mode:'markers', marker:{size:16} },
        { x:x, y:y2, type:'scatter', name:'Trial 2',
        mode:'markers', marker:{size:16} } ];
    layout = { 
        hovermode:'closest',
        title:'Hover on Points'
     };

    Plotly.plot('myDiv', data, layout);

    myPlot.on('plotly_hover', function(data){
        var infotext = data.points.map(function(d){
          return (d.data.name+': x= '+d.x+', y= '+d.y.toPrecision(3));
        });
      
        hoverInfo.innerHTML = infotext.join('<br/>');
    })
    .on('plotly_unhover', function(data){
        hoverInfo.innerHTML = '';
    });
